$bl: #292F33;
$gr: #8899a6;
$blue:#55acee;
$hr1:hsla(206, 30%, 63%, 0.2);
$hr2:hsla(206, 82%, 30%, 0.2);
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @extend %flex;
    height: 100vh;
    width: 100%;
    // overflow: hidden;
    background: $bl;
}

.clock {
    @extend %flex;
    width: 350px;
    height: 350px;
    // background: url(clock.png) no-repeat center / cover; // шаблон циферблата
    border-radius: 50%;
    border: 8px solid $blue;
    box-shadow: 0 -15px 15px $hr1, inset 0 -15px 15px $hr1, 0 15px 15px $hr2, inset 0 15px 15px $hr2;
    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $gr;
        border-radius: 50%;
        z-index: 100;
        border: 2px solid $bl;
    }
}

.numbers,
.hour,
.min,
.sec {
    position: absolute;
}

.hour,
.hr {
    width: 160px;
    height: 160px;
}

.min,
.mn {
    width: 190px;
    height: 190px;
}

.sec,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc {
    @extend %flex;
    align-items: start;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: $blue;
    border-radius: 6px 6px 0 0;
    z-index: 10;
}

.mn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: $gr;
    border-radius: 6px 6px 0 0;
    z-index: 11;
}

.sc::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 155px;
    background: $gr;
    border-radius: 6px 6px 0 0;
    z-index: 12;
}

.numbers {
    width: 320px;
    height: 310px;
    ul {
        list-style: none;
        li {
            position: absolute;
            // font-size: 36px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            line-height: 1.5em;
            font-size: 2em;
            color: $gr;
            &::before,
            &::after {
                content: '';
                width: 2px;
                height: 14px;
                background: $gr;
                position: absolute;
            }
            &:first-child {
                top: 0;
                left: 50%;
                margin-left: -0.75em;
                &::before {
                    top: 30px;
                    right: 90px;
                    transform: rotate(-30deg);
                }
                &::after {
                    top: 30px;
                    left: 90px;
                    transform: rotate(30deg);
                }
            }
            &:nth-child(2) {
                top: 50%;
                right: 0;
                margin-top: -0.75em;
                &::before {
                    top: 85px;
                    right: 40px;
                    transform: rotate(-60deg);
                }
                &::after {
                    bottom: 85px;
                    right: 40px;
                    transform: rotate(60deg);
                }
            }
            &:nth-child(3) {
                left: 50%;
                bottom: 0;
                margin-left: -0.75em;
                &::before {
                    bottom: 30px;
                    right: 90px;
                    transform: rotate(30deg);
                }
                &::after {
                    bottom: 30px;
                    left: 90px;
                    transform: rotate(-30deg);
                }
            }
            &:last-child {
                top: 50%;
                left: 0;
                margin-top: -0.75em;
                &::before {
                    top: 85px;
                    left: 40px;
                    transform: rotate(60deg);
                }
                &::after {
                    bottom: 85px;
                    left: 40px;
                    transform: rotate(-60deg);
                }
            }
        }
    }
}