body, .clock, .hr,
.mn,
.sc, .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  background: #292F33; }

.clock {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 8px solid #55acee;
  -webkit-box-shadow: 0 -15px 15px rgba(132, 164, 189, 0.2), inset 0 -15px 15px rgba(132, 164, 189, 0.2), 0 15px 15px rgba(14, 85, 139, 0.2), inset 0 15px 15px rgba(14, 85, 139, 0.2);
  box-shadow: 0 -15px 15px rgba(132, 164, 189, 0.2), inset 0 -15px 15px rgba(132, 164, 189, 0.2), 0 15px 15px rgba(14, 85, 139, 0.2), inset 0 15px 15px rgba(14, 85, 139, 0.2); }
  .clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #8899a6;
    border-radius: 50%;
    z-index: 100; }

.numbers,
.hour,
.min,
.sec {
  position: absolute; }

.hour,
.hr {
  width: 160px;
  height: 160px; }

.min,
.mn {
  width: 190px;
  height: 190px; }

.sec,
.sc {
  width: 230px;
  height: 230px; }

.hr,
.mn,
.sc {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  position: absolute;
  border-radius: 50%; }

.hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background: #55acee;
  border-radius: 6px 6px 0 0;
  z-index: 10; }

.mn::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background: #8899a6;
  border-radius: 6px 6px 0 0;
  z-index: 11; }

.sc::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 155px;
  background: #8899a6;
  border-radius: 6px 6px 0 0;
  z-index: 12; }

.numbers {
  width: 320px;
  height: 310px; }
  .numbers ul {
    list-style: none; }
    .numbers ul li {
      position: absolute;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      line-height: 1.5em;
      font-size: 2em;
      color: #8899a6; }
      .numbers ul li:first-child {
        top: 0;
        left: 50%;
        margin-left: -0.75em; }
      .numbers ul li:nth-child(2) {
        top: 50%;
        right: 0;
        margin-top: -0.75em; }
      .numbers ul li:nth-child(3) {
        left: 50%;
        bottom: 0;
        margin-left: -0.75em; }
      .numbers ul li:last-child {
        top: 50%;
        left: 0;
        margin-top: -0.75em; }
